.chatbot-container {
  position: fixed;
  z-index: 9999;
  bottom: 20px;
  right: 20px;
  width: 480px;
  height: 780px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.3s ease;
}

.chat-header {
  background: #000000;
  color: white;
  padding: 12px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.chat-header span{
  font-size: 1.15rem;
}

.chat-window {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background: #ffffff;
  display: flex;
  flex-direction: column;
}

.message {
  margin: 8px 0;
  padding: 8px 12px;
  border-radius: 12px;
  max-width: 75%;
  font-size: 15px;
  word-wrap: break-word;
}

.message.bot {
  background: #f1f5f9;
  color: #000000;
  padding: 10px 14px;
  border-radius: 10px;
  margin: 4px 0;
  align-self: flex-start;
  max-width: 85%;
  line-height: 1.6;
  font-size: 15px;
}

.message.bot ul{
  margin-bottom: 20px;
  margin-top: 20px;
}

.message.bot li{
  margin: 10px;
}

.message.user {
  background: #000000;
  color: white;
  align-self: flex-end;
}

.input-area {
  display: flex;
  border-top: 1px solid #ddd;
  padding: 10px;
}

.input-area input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 8px;
  border-radius: 6px;
  background: #f5f5f5;
}

.input-area button {
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
  margin-left: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.chat-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: black;
  color: white;
  border: none;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  z-index: 10000;
  transition: background 0.3s ease;
}

.chat-launch-btn {
  padding: 10px 18px;
  background: #000000;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
