#features{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 4rem 1rem;
  text-align: center;
}


#features h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

.features-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1.5rem;
  max-width: 1500px;
  margin: 0 auto;
}

.feature-card {
  background: #ffffff;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 6px 16px rgba(200, 200, 200, 0.08);
  border: 1px solid rgb(225, 225, 225);
  text-align: left;
  transition: transform 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-card h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.feature-card p {
  font-size: 1rem;
  color: #555;
}

.feature-title {
  display: flex;
  align-items: center; 
  gap: 0.6rem;         
  justify-content: flex-start;
}

.feature-icon {
  font-size: 1.5rem;
  color: #007bff;
}