.login-form {
  width: 100%;
  max-width: 420px;
  margin: 200px auto;
  padding: 2rem;
  background: #ffffff;
  border-radius: 12px;
  border: 1px solid rgb(213, 213, 213);
  text-align: center;
}

.login-form h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #000000;
}

.password-row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.forgot-link {
  font-size: 0.85rem;
  color: #0000ff;
  text-decoration: underline;
  margin-bottom: 1rem;
  align-self: flex-end;
}

.login-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputclass {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.login-div label {
  text-align: left;
  font-size: 0.95rem;
  font-weight: 500;
  color: #000000;
}

.login-div input {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease;
}

.login-div input:focus {
  border-color: #000000;
}

.loginbtn {
  background-color: #000000;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.login-text {
  margin-top: 1.2rem;
  color: #555;
  font-size: .95rem;
}

.login-text a {
  color: #0d00ff;
  text-decoration: underline;
  font-weight: 500;
}

.dividerr {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #9ca3af;
}

.dividerr::before,
.dividerr::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #e5e7eb;
  margin: 0 10px;
}

.social-buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 10px;
  margin-bottom: 6px;
}

.social-btn {
  border: none;
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.social-btn:hover {
  transform: scale(1.08);
}

