.premium-container {
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 1rem;
}

.premium-container h1 {
  font-size: 2rem;
  color: #000000;
  margin-bottom: 1rem;
}

.premium-container p {
  font-size: 1rem;
  color: #555;
  max-width: 600px;
  margin: 0 auto 1.5rem;
}

.explore-btn {
  background: #000000;
  color: white;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.icon-wrap {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  font-size: 2rem;
}

