.sigup-form {
  background: #fff;
  padding: 2rem 2.5rem;
  border-radius: 16px;
  border: 1px solid rgb(209, 209, 209);
  width: 100%;
  max-width: 450px;
  text-align: center;
}

.sigup-form h1 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: #000000;
}

.sinup-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sinup-div label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 500;
  color: #000000;
  font-size: 0.95rem;
}

.sinup-div input {
  width: 100%;
  padding: 10px 12px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.95rem;
  transition: all 0.3s ease;
}

.sinup-div input:focus {
  border-color: #000000;
  outline: none;
}

.password-help {
  font-size: 0.8rem;
  color: #ff0000;
  text-align: left;
  margin-top: -0.8rem;
}

.termsandcondition{
  display: flex;
  flex-direction: row;
}

.signupbtn {
  background-color: #000000;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 10px 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.signup-text {
  margin-top: 1.2rem;
  font-size: 0.95rem;
  color: #555;
}

.signup-text a {
  color: #1e00ff;
  text-decoration: underline;
  font-weight: 500;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  color: #555;
}

.checkbox-container input[type="checkbox"] {
  width: 16px;
  height: 16px;
  accent-color: #1e00ff; 
  cursor: pointer;
}

.checkbox-container a {
  font-size: 0.85rem;
  color: #1e00ff;
  margin-top: .4rem;
  cursor: pointer;
}

@media (max-width: 480px) {
  .sigup-form {
    padding: 1.5rem;
    border-radius: 12px;
  }
}